<div>
  <%= @translation.content %>
</div>

<%= link_to "Edit", edit_section_translation_path(section_id: @translation.translatable.id, id: @translation.id) %>
<br />
<%= link_to "Back to Section", resource_path(@translation.translatable.resource) %>