.search {
  padding-top: 105px;
}

.search-bar {
  text-decoration: none !important;
  border-width: 2px !important;
  border-style: solid !important;
  border-color: rgba(125, 116, 116, 0.8) !important;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: none !important;
  font-size: 3rem !important;
}
