<div class="">
  <h5 class="">Alternate versions available in</h5>
  <div class="alt-lang-container">
    <ul>
      <% @available_languages.each do |language| %>
        <li class="alt-lang-item"><%= language.to_s %></li>
      <% end %>
    </ul>
  </div>
  <div class="alt-lang-add-button">Add</div>
</div>