<div class="container search-result-item__container">
  <div class="search-result-item">
    <%= link_to subject.name, subject_path(subject) %>
    <div class="search-result-item__content">
      <div class="search-result-item__snapshot"></div>
      <div class="search-result-item__details">
        <div>Languages: EN, JP, CH</div>
        <div>www.github.com</div>
      </div>
    </div>
  </div>
</div>