<div class="subject-site__information">
  <div class="subject-site__snapshot"></div>
  <div class="subject-site__detail">
    <div>URL: www.github.com</div>
    <div>Language: EN</div>
  </div>
</div>