<% if @subjects.empty? %>
  <%= render "no_results" %>
<% else %>
  <div class="container search-result-area">
    <% @subjects.each do |subject| %>
      <div>Search Result for <p class="search-term"><%= params[:search_term] %></p></div>
      <%= render "search_results", subject: subject %>
    <% end %>
  </div>
<% end %>
<%= javascript_pack_tag 'subjects/index' %>
