<div class="">
  <h5 class="section-title">Sections</h5>
  <div class="section-container" id="section-container">
    <% if sections.present? %>
      <% sections.each do |section| %>
        <div class="section-item">
          <i class="material-icons section-icon__transformation">arrow_drop_down_circle</i>
          <div><%= section.title %></div>
          <i class="material-icons section-icon__transformation section-delete-button" data-delete-url="<%= resource_section_path(resource_id: section.resource.id, id: section.id) %>">clear</i>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="hidden-inputs" id="section-field-inputs">
    <label for="url">URL</label>
    <input type="text" name="url"/>
    <label for="title">title</label>
    <input type="text" name="title"/>
  </div>
  <button class="section-add-button" id="section-add-button"  data-resource-id="<%= @resource.id %>">Add Section</button>
</div>
